/* General Style Applications  */

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif, arial;
}

/* Oversizing catch-all */

img,
embed,
object,
video {
  max-width: 100%;
}

/* Remove underline from links */

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}


/* HEADER */

.site-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000;
}

.main-header {
  font-size: 3em;
  color: #fff;
  margin: 5px;
}

.main-sub-header {
  font-size: 1em;
  color: #fff;
  margin: 5px;
  padding-bottom: 5px;
}


/* MAIN */

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 5em auto 0 auto;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
}

.game-header {
  font-size: 2em;
  color: #000;
  padding-bottom: 8px;
  border-bottom: 3px dashed #000;
}

.game-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0;
}

.game-title {
  font-size: 1.3em;
  color: #000;
  background-color: gray;
}

.game-title:hover {
  cursor: pointer;
}

.game-area-show {
  width: 100%;
  height: 1000px;
  background: gray;
  transition: all 0.5s;
}

.game-area-hide {
  width: 100%;
  height: 5px;
  transition: all 0.5s;
}




/* FOOTER */
